button {
    cursor: pointer;
}

.button {
    padding: 8px 7px;
    margin: 0 5px;
}

.num {
    margin: 0 3px;
}

.stretch {
    padding: 5px 10px;
    background-color:rgb(44, 172, 44);
    border: none;
    color: #fff;
    transition: padding 0.5s;
}

.stretch:hover {
    padding: 15px 30px;
}

.threedclick {
    background-color:rgb(44, 172, 44);
    border: none;
    color: #fff;
    padding: 5px 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
    transition: 0.05s;
}

.threedclick:active {
    margin-top: 2px;
    margin-left: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

