body {
    font-family: Arial;
    font-size: 16px;
}

p {
    width: 500px;
}

.grey {
    color: gray;
    font-size: 15px;
}

.nickname {
    margin-bottom: 0;
}

.first {
    margin-top: 8px;
}

.reference {
    color: cornflowerblue;
}